
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: #e8f1f0;
  font-family: 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  overflow: hidden;
  height: 100vh;
}